<% layout('/layouts/boilerplate') -%>
<style>
  /* #filters{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth; */
  /* margin-left: 2rem; */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.01); */
  #filters {
  display: flex;
  /* overflow-x: auto; */
  /* white-space: nowrap; */
  /* scroll-behavior: smooth; */
  /* padding: 1rem; */
  /* gap: 0.5rem; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  /* width: 100vw; */
}

  
  .filter{
    align-content: center;
    text-align: center;
    font-size: 1rem;
    margin:0.2rem;
    /* width: auto; */
    opacity: 0.7;
   
  }
  .filter img {
    height: 1.1rem;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }

  #filters::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .filter p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle-switch{

 align-self: center;
 margin-left: 2rem;
 /* background-color: aqua; */
 padding: 1rem !important;
 padding-right: 4rem !important;
 border-radius: 1rem;
 border: 2px solid rgb(191, 185, 185);
  
}
.tax-info{
  display: none;
}
</style>

<div id="filters" class="d-flex overflow-auto pb-4 px-2 gap-3 mt-3" style="scroll-snap-type: x mandatory; scroll-behavior: smooth;">
 
  <div class="filter">
    <!-- <i class="fa-solid fa-fire"></i> -->
     <img src="https://a0.muscache.com/pictures/3726d94b-534a-42b8-bca0-a0304d912260.jpg">
      <p>Trending</p>
  </div>
 <div class="filter"></div>

  <div class="filter">
    <img src="https://a0.muscache.com/pictures/7630c83f-96a8-4232-9a10-0398661e2e6f.jpg">
      <p>Roooms</p>
  </div>

  <div class="filter">
    <img src="https://a0.muscache.com/pictures/aaa02c2d-9f0d-4c41-878a-68c12ec6c6bd.jpg">
      <p>Farms</p>
  </div> <div class="filter">
    <img src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg">
      <p>Amazing pools</p>
  </div> <div class="filter">
    <img src="https://a0.muscache.com/pictures/0ff9740e-52a2-4cd5-ae5a-94e1bfb560d6.jpg">
      <p>Containers</p>
  </div> <div class="filter">
    <img src="https://a0.muscache.com/pictures/50861fca-582c-4bcc-89d3-857fb7ca6528.jpg">
      <p>Designs</p>
  </div> <div class="filter">
    <img src="https://a0.muscache.com/pictures/3b1eb541-46d9-4bef-abc4-c37d77e3c21b.jpg">
      <p>Amazing views</p>
  </div> <div class="filter">
    <img src="https://a0.muscache.com/pictures/6ad4bd95-f086-437d-97e3-14d12155ddfe.jpg">
      <p>Country side</p>
  </div> <div class="filter">
    <img src="https://a0.muscache.com/pictures/bcd1adc0-5cee-4d7a-85ec-f6730b0f8d0c.jpg">
      <p>Beach front</p>
  
  </div>
  <div class="form-check-reverse form-switch toggle-switch">
    <input class="form-check-input  tax-switch" type="checkbox" role="switch" id="switchCheckDefault">
    <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
  </div>
  


</div>


    <!-- <h3>All Listings</h3> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3" >
      <% for(listing of allListings){%>
       <a href="/listings/<%=listing._id%>" class="card-link">
        <div class="card">
          <img class="card-img-top" src="<%=listing.image.url%>" alt="Card image cap">
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b><%=listing.title%></b> <br>
              &#8377; <%=listing.price.toLocaleString("en-IN")%> / night  &nbsp;<i class="tax-info">+18% GST</i>
            </p>
           
          </div>
        </div>
       </a>
        <% }%>
    </div>
   

    <script>
      let tax_infos = document.getElementsByClassName("tax-info");
      let toggle = document.querySelector(".tax-switch");
      toggle.addEventListener("click",()=>{
        for(info of tax_infos){
          if(info.style.display!="inline"){
            info.style.display="inline";
          }else{
            info.style.display="none";
          }
        }
        
      })
    </script>


  
    
    
    

