<% layout('/layouts/boilerplate') -%>

<div class="row row-cols-lg-10">
    <h1 class="col-6 offset-3 mb-5">signup for wanderlust</h1>
    <br><br>
    <div class="col-6 offset-3">
        <form method="post" action="/user/signup" class="needs-validation " novalidate>
            <label for="username" class="form-label">Username: </label>
            <input type="text" placeholder="username" id="username" name="username" required class="form-control">
            <div class="invalid-feedback">
                username is needed.
              </div>
              <div class="valid-feedback">
                Looks good
              </div>
            <br>
            <label for="email" class="form-label">Email: </label>
            <input type="email" placeholder="email" id="email" name="email" required class="form-control">
            <div class="invalid-feedback">
                email is needed.
              </div>
              <div class="valid-feedback">
                Looks good
              </div>
        
         <br>
         <label for="password" class="form-label">password: </label>
         <input type="text" placeholder="password" id="password" name="password" required class="form-control">
         <div class="invalid-feedback">
            Password is needed.
           </div>
           <div class="valid-feedback">
             Looks good
           </div>
           <br>

           <button class="btn btn-primary">add user</button>
           <br><br>
        </form>
        <br><br>
    </div>
    <br><br>